{{#with model}}
<div class='card_wrapper'>
  <div class='card_labels'>
    {{#each labels}}
      <span class='{{.}} label'></span>
    {{/each}}
  </div>
  <span class='card_name'>{{name}}</span>
  <div class='badges'>
    {{#if subscribed}}
      <div class='subscribed_badge'>
        <span class='badge_icon'></span>
      </div>
    {{/if}}
    {{#if ../formatted_date}}
      <div class='due_date_badge {{#if complete}} complete {{else if past_due}} past_due {{/if}}'>
        <span class='badge_icon'></span>
        <span class='badge_text'>{{../formatted_date}}</span>
      </div>
    {{/if}}
    {{#if description}}
      <div class='description_badge'>
        <span class='badge_icon'></span>
      </div>
    {{/if}}
    {{#if comments.length}}
      <div class='comments_badge'>
        <span class='badge_icon'></span>
        <span class='badge_text'>{{comments.length}}</span>
      </div>
    {{/if}}
  </div>
</div>
{{/with}}
