{{#each .}}
  <li>
    <div class='avatar'>
      <img src='https://www.gravatar.com/avatar/3242edc934b08b9e540717c01b2ef89c?s=30' alt='avatar'>
    </div>

    <div class='comment_container'>
      {{#if activity}}
        {{#ifCond activity 'move'}}
          <div class='comment_header'>
            <span><span class='user_name'>William Arnold</span> moved <a href='/lists/{{listID}}/cards/{{cardID}}'>{{card}}</a> from {{oldList}} to {{list}}<span>
          </div>
        {{/ifCond}}
        {{#ifCond activity 'copy'}}
          <div class='comment_header'>
            <span><span class='user_name'>William Arnold</span> copied <a href='/lists/{{listID}}/cards/{{cardID}}'>{{card}}</a> from <a href='/lists/{{oldListID}}/cards/{{oldCardID}}'>{{oldCard}}</a> in list {{list}}<span>
          </div>
        {{/ifCond}}
      {{else}}
        <div class='comment_header'>
          <span>
            <span class='user_name'>William Arnold</span> on <a href='/lists/{{listID}}/cards/{{cardID}}'>{{card}}</a>
          <span>
        </div>

        <div class='comment'>
          <p>{{text}}</p>
        </div>
      {{/if}}
        <p class='comment_details'>{{#timeDiff timestamp}}{{/timeDiff}}</p>
    </div>
  </li>
{{/each}}
